{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Lacy- 已看完{% endblock %} 

{% block page_content %}
<div class="my-container">
    <div class="row">
        {% include '_sidebar.html' %}
        <div class="main">
            <div class="main_header">
                <div class="main_header_up"></div>
                <div class="main_header_down">
                    <p>已看完</p>
                </div>
            </div>
            <div id="watchedList" class="detail_box">
                <div class="box-header">
                    <span id="s-watch" class="ml-1 active">已看完</span>
                    <span class="ml-2">{{ finished_tv|count }}个项目</span>
                </div>
                <div class="main_content">
                    <div class="sub_list">
                    {% if finished_tv %}
                    {% for i in finished_tv %}
                        <div class="sub_list_item">
                            <div class="sub_list_li clearfix">
                                <div class="sub_list_img">
                                    <a href="{{ url_for('main.tv_detail', tv_id=i['id']) }}" target="_blank">
                                        <img src="{{ url_for('static', filename=i['img_sm']) }}" alt="{{ i['name'] }}">
                                    </a>
                                </div>
                                <div class="sub_list_txt">
                                    <p class="p1"><a href="{{ url_for('main.tv_detail', tv_id=i['id']) }}" target="_blank">{{i['name']}}</a></p>
                                    {% if i.is_finished %}
                                        <P class="p2">完结</P>
                                        <p class="p2">共{{ i['episodes'] }}集</p>
                                    {% else %}
                                        <P class="p2">{{ i.update_detail_for_human }}更新</P>
                                        <p class="p2">更新至{{ i['new_episode'] }}集</p>
                                    {% endif %}
                                    <div class="sub_list_btn" {# onclick="atlOpenCollection({{ i.id|string }})" #}>
                                        <div class="btn-group dropright">
                                            <button type="button" class="btn btn-danger " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="javascript:void(0);" onclick="unsetWatched({{ i.id }})">取消已看完
                                                </a>
                                                {# <div class="dropdown-divider"></div> #}
                                                <a class="dropdown-item" href="javascript:void(0);" onclick="atlOpenCollection({{ i.id }})">添加至清单</a>
                                                <a class="dropdown-item" href="javascript:void(0);" onclick="subscribeTV({{ i.id }})">追剧</a>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% endif %}
                    </div>
                    <div class="my_pagination">
                    {{ render_pagination(pagination, size='sm', align='center') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include '_pop_window.html' %}

{% endblock page_content %}